h1 {
	text-align:center;
	font-weight: bold;
}

h2 {
	text-align:center;
	font-style:italic;
}

h3 {
	text-align:center;
}

h4 {
	text-align:right;
	font-weight: bold;
}

.click {
	background-color:#8C98CF;
	border: 3px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: underline wavy red;
	display: inline-block;
	font-size: 14px;
}

body{
	background-image: url("87C.html");
	}

.vertpomme {
	color:#C5EE32;
}

.bleuacceuil {
	color:#0ED0CC
}