body {
	background-image: url("chaisechaisechaise.jpg");
}
h1, a {
	color: #F0FFFF;
	text-align: center;
	font-family: Arial Verdana,sans-serif;
	font-size: 50px;
}	

p {
	color: #F0FFFF;
	text-align: center;
	font-family: Arial Verdana,sans-serif;
	font-size: 30px; 
}

img {
	margin-left: 38%;
}

.btn0 {
    background-color: #F0FFFF;
    border: none;
    color: Black;
    padding: 32px 16px;
	font-family: Arial Verdana,sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 4px;
	text-align: center;
	margin-left: 0%;
	cursor:pointer;
	transition: all 0.5s;
	display:inline-block;
	width:120px;
}
